@using Do_An_KDCLPM.Models
@{
    ViewBag.Title = "Thanh toán";
    var cart =Session["cartSession"] as List<CartItem>;
    var acc = Session["account_client"] as accounts;    
}
@section scripts{
<script src="~/Assets/Client/json/data.json"></script>
<script src="~/Assets/Client/js/code/api.js"></script>
    }
   <!-- Page Header Start -->
<div class="container-fluid bg-secondary">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Thanh toán</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Thanh toán</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
@if (acc != null && cart != null)
{
    <!-- Checkout Start -->
    <div id="checkout" class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Thông tin đơn hàng</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Họ tên</label>
                            <input id="cart-fullname" value="@acc.fullname" class="form-control" type="text" placeholder="Nguyễn Văn A">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input id="cart-email" class="form-control" value="@acc.email" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Số điện thoại</label>
                            <input id="card-phone" class="form-control" value="@acc.phone" type="text" placeholder="037 099 0666">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Tỉnh/Thành phố</label>
                            <select class="form-control" name="" id="province">
                                <option value="-1">Chọn tỉnh/thành phố</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Quận/huyện</label>
                            <select class="form-control" name="" id="district">
                                <option value="-1">Chọn quận/huyện</option>
                            </select>
                        </div>


                        <div class="col-md-6 form-group">
                            <label>Phường/xã</label>
                            <select class="form-control" name="" id="town">
                                <option value="-1">Chọn phường/xã</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Số nhà/thôn/xóm</label>
                            <input id="cart-town" class="form-control" type="text" placeholder="166, ấp Tân Phú 2">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ghi chú</label>
                            <textarea id="order_note" placeholder="Ghi chú" class="form-control"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Tổng đơn đặt hàng</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Sản phẩm</h5>
                        @foreach (var item in cart)
                        {
                            <div class="d-flex justify-content-between">
                                <p>@item.Product.name</p>
                                <p>@Libary.Instances.convertVND((item.Quantity * (item.Product.promationprice > 0 ? item.Product.promationprice : item.Product.price)).ToString())</p>
                            </div>
                        }
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng giá</h5>
                            <h5 class="font-weight-bold">@Libary.Instances.convertVND(cart.Sum(x => x.Quantity * (x.Product.promationprice > 0 ? x.Product.promationprice : x.Product.price)).ToString())</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Phương thức thanh toán</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button id="btnpay" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
}

